.signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  gap: 2rem;
  padding: 2rem;
  border-radius: 15px;
}

.signup-form__title {
  color: hsl(var(--clr-dark));
  font-size: var(--fs-700);
  margin-bottom: -15px;
}

.signup-form__underline {
  width: 75%;
  height: 3px;
  background: hsl(var(--clr-dark));
}

.signup-form__form {
  margin: 20px 0;
}

.signup-form__icon {
  height: 25px;
  width: 25px;
}

.signup-form__input {
  height: 2.6rem;
  border: 2px solid hsl(var(--clr-white));
}

.signup-form__submit,
.signup-form__submit:link,
.signup-form__submit:visited {
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  padding: 0.4rem 0.8rem;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 8px;
  margin-top: 1rem;
}

.signup-form__link:link,
.signup-form__link:visited {
  color: hsl(var(--clr-dark));
  text-decoration: none;
  transition: all 0.3s;
}

.signup-form__link:hover,
.signup-form__link:active {
  text-decoration: underline;
}
