.signup-form {
  gap: 2rem;
  padding: 2rem;
  border-radius: 15px;
  max-width: 400px;
  margin: 3rem auto;
  border: 1px solid hsl(var(--clr-accent));
}

.signup-form__header {
  border-bottom: 1px solid hsl(var(--clr-accent));
  width: 100%;
}

.signup-form__title {
  color: hsl(var(--clr-warning));
}

.signup-form__form {
  margin: 2rem 0;
}

.signup-form__inputs {
  width: 100%;
}

label {
  width: 50%;
}

.signup-form__input {
  height: 2.6rem;
  border: 2px solid hsl(var(--clr-white));
  width: 100%;
  border-radius: 8px;
}

.signup-form__submit,
.signup-form__submit:link,
.signup-form__submit:visited {
  background-color: hsl(var(--clr-warning));
  color: hsl(var(--clr-white));
  padding: 0.4rem 0.8rem;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 8px;
  margin-top: 1rem;
  width: 100%;
}

.signup-form__link:link,
.signup-form__link:visited {
  color: hsl(var(--clr-warning));
  text-decoration: none;
  transition: all 0.3s;
}

.signup-form__link:hover,
.signup-form__link:active {
  text-decoration: underline;
}
