.main-navbar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  justify-content: space-between;
}

.main-navbar-brand > * {
  transition: color 100ms ease-in-out;
}

.main-navbar-brand > *:hover {
  color: hsl(var(--clr-light));
}

ul {
  list-style: none;
  justify-content: space-around;
  text-align: center;
}

.main-navbar-list {
  --gap: 1.125rem;
  margin: 0.675rem 0;
}

.main-navbar-icon {
  font-size: 1.65rem;
  padding: 0.6rem;
  transition: 150ms ease-in-out;
  border-radius: 50%;
}

.main-navbar-icon:hover,
.main-navbar-icon:focus {
  background-color: hsl(var(--clr-light));
}

.main-navbar-search {
  transition: all 300ms ease-in-out;
  padding: 12px 24px;
  border-radius: 50px;
  position: relative;
  border: 1px solid hsl(var(--clr-white));
}

.main-navbar-search:hover,
.main-navbar-search:active {
  background-color: hsl(var(--clr-gray));
  border: 1px solid hsl(var(--clr-light));
}

.main-navbar-search input {
  outline: none;
  border: none;
  height: 100%;
  background-color: transparent;
}

.main-navbar-search input::placeholder {
  color: hsl(var(--clr-white));
  font-size: var(--fs-300);
  transition: all 300ms;
}

.main-navbar-search input:hover::placeholder {
  color: hsl(var(--clr-accent));
}

.main-navbar-search-btn {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: inherit;
  position: absolute;
  right: 0px;
  width: 48px;
  height: 48px;
  overflow: hidden;
  transition: all 300ms;
  justify-content: center;
}

.main-navbar-search-btn:hover,
.main-navbar-search-btn:focus {
  color: hsl(var(--clr-white));
}
