.main-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  justify-content: space-between;
}

ul {
  list-style: none;
  justify-content: space-around;
  text-align: center;
}

.main-navbar-list {
  --gap: 1.5rem;
  margin: 0.675rem 0;
}

.main-navbar-icon {
  font-size: 2rem;
}

.main-navbar-icon:hover,
.main-navbar-icon:focus {
  color: hsl(var(--clr-warning));
}

.main-navbar-search {
  background-color: transparent;
  transition: all 1s;
  padding: 15px 30px;
  margin-left: 0.6rem;
  border-radius: 50px;
  position: relative;
  border: 0.5px solid hsl(var(--clr-white));
}

.main-navbar-search:hover,
.main-navbar-search:active {
  background-color: hsl(var(--clr-white));
  border: 1px solid hsl(var(--clr-accent));
}

.main-navbar-search input {
  outline: none;
  border: none;
  height: 100%;
  background-color: transparent;
}

.main-navbar-search input::placeholder {
  color: hsl(var(--clr-white));
  font-size: var(--fs-300);
  transition: all 0.5s;
}

.main-navbar-search input:hover::placeholder {
  color: hsl(var(--clr-accent));
}

.main-navbar-search-btn {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: inherit;
  position: absolute;
  right: 1px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  transition: all 1s;
  justify-content: center;
}

.main-navbar-search-btn:hover,
.main-navbar-search-btn:focus {
  color: hsl(var(--clr-warning));
}
