.main-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  justify-content: space-between;
}

ul {
  /* flex-basis: 33.33%; */
  list-style: none;
  justify-content: space-around;
  text-align: center;
}

.search-box {
  /* flex-basis: 33.33%; */
  border-radius: 100vh;
  padding: 10px 20px;
  background-color: hsl(var(--clr-white));
  transition: all 3s;
}

.search-box:hover,
.search-box:active {
  background-color: hsl(var(--clr-light));
}

.search-box input {
  outline: none;
  border: none;
  background-color: transparent;
  height: 100%;
}

.search-box img {
  width: 20px;
  height: 20px;
}
