/* ------------------------- */
/*      CUSTOM PROPERTIES    */
/* ------------------------- */

:root {
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;
  --fs-700: 3.5rem;
  --fs-800: 6.25rem;
  --fs-900: 9.375rem;

  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", serif;
  --ff-sans-normal: "Barlow", serif;
}

/* ------------------------- */
/*      CUSTOM PROPERTIES     */
/* -------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: var(--ff-serif);
  font-size: var(--fs-400);
  color: #ffff;
  background-color: #333;
  line-height: 1.5;
  max-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
