/* ------------------------- */
/*      CUSTOM PROPERTIES    */
/* ------------------------- */

:root {
  --clr-warning: 43.76, 100%, 50%;
  --clr-accent: 32, 43.57%, 52.75%;
  --clr-dark: 163.4, 66.2%, 13.92%;
  --clr-light: 128.57, 16.8%, 50.98%;
  --clr-white: 0, 0%, 100%;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;
  --fs-700: 3.5rem;
  --fs-800: 6.25rem;
  --fs-900: 9.375rem;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --ff-serif: "Playfair Display", serif;
  --ff-sans-cond: "Roboto Condensed", serif;
  --ff-sans-normal: "Roboto", serif;
}

/* ------------------------- */
/*        GENERAL RESET      */
/* ------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: var(--clr-dark);
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------- */
/*       UTILITY CLASSES     */
/* ------------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-center {
  align-items: center;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid-center {
  place-items: center;
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding-inline: 2rem;
  margin-inline: auto;
  /* max-width: 80rem; */
}

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
}

/* colors */

.bg-warning {
  background-color: hsl(var(--clr-warning));
}

.bg-accent {
  background-color: hsl(var(--clr-accent));
}

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.bg-light {
  background-color: hsl(var(--clr-light));
}

.text-warning {
  color: hsl(var(--clr-warning));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-light {
  color: hsl(var(--clr-light));
}

/* typography  */

.uppercase {
  text-transform: uppercase;
}

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
