/* ------------------------- */
/*      CUSTOM PROPERTIES    */
/* ------------------------- */

:root {
  --crl-dark-bold: 191, 70%, 12%;
  --clr-dark: 192, 71%, 23%;
  --clr-light: 193, 23%, 92%;
  --clr-white: 0, 0%, 100%;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;
  --fs-700: 3.5rem;
  --fs-800: 6.25rem;
  --fs-900: 9.375rem;

  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", serif;
  --ff-sans-normal: "Barlow", serif;
}

/* ------------------------- */
/*        GENERAL RESET      */
/* ------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: var(--ff-serif);
  font-size: var(--fs-400);
  color: #333;
  line-height: 1.5;
  max-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------- */
/*       UTILITY CLASSES     */
/* ------------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-center {
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* colors */
.bg-dark-bold {
  background-color: hsl(var(--crl-dark-bold));
}
.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-accent {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}
